.page {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.middlePage {
  width: 90vw;
  max-width: 1000px;
  height: 100vh;
  margin-top: 77px;
}

.footer {
  height: 100px;
}